# Dependencies
node_modules/

# Build output
dist/

# Editor directories and files
.vscode/
*.local

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/
node_modules/

# Temporary files
tmp/
